@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #787486;
  --body-background: #E7E8EA;
  --color-gainsboro: #DCDCDC;
  --color-whitesmoke: #F5F5F5;
  --color-dark: #0D062D;
}

@theme {
  --color-foreground: var(--color-foreground);
  --color-gainsboro: var(--color-gainsboro);
  --color-whitesmoke: var(--color-whitesmoke);
  --color-dark: var(--color-dark);
}

body {
  background: var(--body-background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

main {
  background: var(--background);
}

h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
